scipy
numpy
matplotlib
opencv-python
torch==1.13.1
tensorrt==8.6.1
diffusers
transformers
accelerate
onnx==1.13.1
onnxruntime==1.14.1
optimum
nvidia-pyindex
polygraphy
onnx_graphsurgeon
cuda-python
nvtx
accelerate
colored
cuda-python